name: Chrome headed
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
        # Install NPM dependencies, cache them correctly
        # and run all Cypress tests
      - uses: actions/checkout@v4
      - uses: cypress-io/github-action@v6
        with:
            start: npx cypress run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}
          browser: chrome
       